.show-window {
  position: relative;
  width: 100%;
  height: 650px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.show-window span {
  color: rgb(249, 223, 227);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.example-list {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(133, 112, 117);
  overflow-x: auto;
}
.example-item {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid rgba(133, 112, 117, 0.3);
  margin: 0 10px;
}

@keyframes example-item-hover {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(241, 154, 174);
  }
}
.example-item:hover {
  background-color: rgb(241, 154, 174);
  color: rgb(133, 112, 117);
  animation: example-item-hover 0.3s ease-in-out;
  border: 2px solid rgb(249, 223, 227);
}
.example-item img {
  padding: 10px 10px 0px 10px;
  width: 200px;
  height: 150px;
  border-radius: 15px;
}
.example-item span {
  font-size: 14px;
}
.selected {
  background-color: rgb(133, 112, 117);
  color: rgb(249, 223, 227);
}

.example-code-link {
  padding: 10px;
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgb(249, 223, 227);
  background-color: rgba(133, 112, 117, 0.7);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.example-code-link i {
  font-size: 20px;
  margin-right: 5px;
}

.example-code-link span {
  font-size: 14px;
}
.example-code-link:hover {
  color: rgb(133, 112, 117);
  background-color: rgba(241, 154, 174);
  cursor: pointer;
  animation: example-item-hover 0.3s ease-in-out;
}

.example-code-link:hover span {
  color: rgb(133, 112, 117);
}

.example-desc {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid rgba(133, 112, 117, 0.3);
  margin: 0 10px;
  font-size: 12px;
}
.example-desc:hover {
  background-color: rgb(241, 154, 174);
  color: rgb(133, 112, 117);
  animation: example-item-hover 0.3s ease-in-out;
  border: 2px solid rgb(249, 223, 227);
}
