.pane {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  min-width: 200px;
}

:root {
  --tp-base-background-color: rgb(255, 232, 237); /* 主背景色 */
  --tp-base-shadow-color: rgba(133, 112, 117, 0.5);
  --tp-button-background-color: rgba(249, 218, 224, 1); /* 按钮背景 */
  --tp-button-background-color-active: rgba(241, 154, 174, 1);
  --tp-button-background-color-focus: rgba(249, 218, 224, 1);
  --tp-button-background-color-hover: rgba(249, 218, 224, 1);
  --tp-button-foreground-color: rgba(133, 112, 117, 1);
  --tp-container-background-color: rgb(
    252,
    196,
    207
  ); /* 容器背景改为249, 218, 224 */
  --tp-container-background-color-active: rgba(241, 154, 174, 1);
  --tp-container-background-color-focus: rgba(241, 154, 174, 0.8);
  --tp-container-background-color-hover: rgba(255, 242, 245, 1);
  --tp-container-foreground-color: rgba(133, 112, 117, 0.8);
  --tp-groove-foreground-color: rgba(133, 112, 117, 0.3);
  --tp-input-background-color: rgba(
    249,
    218,
    224,
    1
  ); /* 输入框背景也改为249, 218, 224 */
  --tp-input-background-color-active: rgba(241, 154, 174, 1);
  --tp-input-background-color-focus: rgba(241, 154, 174, 0.9);
  --tp-input-background-color-hover: rgba(249, 218, 224, 1);
  --tp-input-foreground-color: rgba(133, 112, 117, 1);
  --tp-label-foreground-color: rgba(133, 112, 117, 0.8);
  --tp-monitor-background-color: rgba(
    249,
    218,
    224,
    1
  ); /* 监控框背景改为249, 218, 224 */
  --tp-monitor-foreground-color: rgba(133, 112, 117, 0.6);
}
